body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #003530;
}

.promptForm {
    width: 25rem;
    margin: 20px;
    padding: 20px;
    background-color: #039188;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.BTN{
    width: 100px;
    margin: 20px;
    border-radius: 5px;
    position: fixed;
    top: 0;
    right: 0;
}

.promptForm h2 {
    text-align: center;
    margin-bottom: 20px;
}

.promptForm label {
    display: block;
    margin-top: 5px;
    color: #333;
}

.promptForm input[type="text"],
.promptForm textarea,
.promptForm select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 16px;
    color: #333;
}

.promptForm button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.promptForm button:hover {
    background-color: #45a049;
}

.table-container {
    width: 60%;
    max-width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 3px solid #000000;
}

thead th {
    background-color: #03a194;
}

tr:hover {
    background-color: #abf3b2;
}

/* Estilos para los botones de Editar y Eliminar */
.editar-btn, .eliminar-btn, .execute-btn, .btn-cerrar {
    padding: 8px 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
}

.btn-cerrar{
    background-color: #5f6d03;
}

.editar-btn {
    background-color: #007bff;
}

.eliminar-btn {
    background-color: #dc3545;
    margin-left: 5px;
}

.execute-btn {
    background-color: #35dc59;
    margin-top: 5px;
    margin-left: 5px;
    
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
    .table-container {
        width: 95%;
    }
}